@charset "ISO-8859-1";
html {background-image: url("https://image.freepik.com/vettori-gratuito/sfondo-sfocato_1034-245.jpg");
  	background-repeat: no-repeat;
 	background-attachment: fixed;
  	background-size: 100%;}
body {
  background-image: url("https://media.giphy.com/media/wPqYCxfvyWzIs/giphy.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}
p {
    font-family: arial;
}

#special {
    color: blue;
}

h1, h2, h3 {
    color: red;
}

p.myClass {
    color: blue;
}

#paragraphId {
    color: red;
}