@charset "ISO-8859-1";
html {
	background-image: url("https://data.whicdn.com/images/165999395/large.jpg");
  	background-repeat: no-repeat;
  	background-size: 100%;
}

body {
  background-image: url("https://media.giphy.com/media/lKQlwPamON5NS/giphy.gif");
  background-position:top-left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
    font-family: arial;
}

#special {
    color: blue;
}

h1, h2, h3 {
    color: red;
}

p.myClass {
    color: blue;
}

#paragraphId {
    color: red;
}